UGTS_KC_K_Kij_T_Grove_3_9_2_ALL_FILES_SINGLE/UGTS_KC_K_Kij_T_Grove_3_9_2_SINGLE/UGTS_KC_3_9_1_BASE/UGTS_KC_Tom_Klootwijk_Signature_3_9_1_Package/src/ugts_kc3/android_template/project/app/proguard-rules.pro
UGTS_KC_K_Kij_T_Grove_3_9_2_COMPLETE_ALL_FILES/android/UGTSKCKKijTGrove/app/build/intermediates/stripped_native_libs/pocoX7ProRelease/stripPocoX7ProReleaseDebugSymbols/out/lib/arm64-v8a/libugts_kc_grove.so
Unified_Geometric_Topological_Substrate_GPU_Native_Package/UGTS_GPU_Native_Addendum_Package/benchmarks/cuda_vmm_compression_sparse_format_threshold_isolated/aggregate/cuda_vmm_compression_lut_aggregate.csv
Unified_Geometric_Topological_Substrate_GPU_Native_Package/UGTS_GPU_Native_Addendum_Package/benchmarks/cuda_vmm_compression_zero_texture_alignment_isolated/aggregate/cuda_vmm_compression_lut_aggregate.json
Unified_Geometric_Topological_Substrate_GPU_Native_Package/UGTS_GPU_Native_Addendum_Package/benchmarks/cuda_vmm_compression_zero_texture_alignment_isolated/aggregate/cuda_vmm_compression_lut_comparison.csv
UGTS_KC_3_9_4_BAYER_DIRECT_NATIVE_ANDROID_TOM_KLOOTWIJK/UGTS_KC_3_9_4_Bayer_Direct_Native_Tom_Klootwijk/app/.cxx/RelWithDebInfo/46y2o221/arm64-v8a/.cmake/api/v1/reply/codemodel-v2-906b0679e1ca51709edd.json
UGTS_KC_3_9_4_BAYER_DIRECT_NATIVE_ANDROID_TOM_KLOOTWIJK/UGTS_KC_3_9_4_Bayer_Direct_Native_Tom_Klootwijk/app/build/intermediates/optimized_processed_res/release/optimizeReleaseResources/output-metadata.json
